[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-tslime"]
	path = vim/bundle/vim-tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "colors/dircolors-solarized"]
	path = colors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
